ul {
  list-style: none;
}

.container {
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.ticket-purchase {
  align-items: center;
}

.ticket-list {
  align-items: center;
  justify-content: center;
}

.ticket-self {
  align-items: center;
  justify-content: center;
}
